.book-name {
  text-transform: uppercase;
}

.book-info {
  color: rgb(121, 101, 101);
}

.book-info__label {
  color: black;
}

.review-modal {
  .book-card-container {
    height: 100%;
    background-color: lavender;
    border-radius: 5px;
    cursor: pointer;
  }
}
