.book-info {
  color: rgb(121, 101, 101);
}

.book-info__label {
  color: black;
}

.review-modal {
  .book-card-container {
    height: 100%;
<<<<<<< HEAD
    background-color: lavender;
=======
    background-color: aliceblue;
>>>>>>> master
    border-radius: 5px;
    cursor: pointer;
  }
}
