.card-container {
  display: flex;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;

  .cover-container {
    width: 25%;
    padding-right: 15px;

    img {
      width: 100%;
    }
  }

  .details {
    width: 70%;
    padding: 0px 10px;
    text-align: left;

    h2 {
      font-size: x-large;
      font-weight: bold;
    }

    h3 {
      font-size: large;
      font-weight: bold;
      color: darkslategray;
    }

    p {
      font-style: italic;
    }
  }
}
