.comment-box {
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.rating {
  font-size: 25px;
}

.send-button {
  position: absolute;
  right: 1%;
  bottom: 7%;
}

textarea {
  min-height: 38px;
  height: 50px;
}
